* {
	font-family: sans-serif;
}
body {
	background-color: #ffcc99;
	font-family: sans-serif;
}

#wrap {
	border: 4px dashed black;
	background-color: whitesmoke;
    margin-left: 250px;
	margin-right: 250px;
	padding-top: none;
}

h1 {
	font-family: "Anton";
	font-size: 50px;
	font-style: oblique;
	text-align: center;
	border-bottom: 4px dashed;
}

.head {
	text-align: justify;
	padding: 10px;
	background-color: whitesmoke;
}

ul {
	text-align: center;
	font-style: italic;
	list-style: none;
}

span{
	font-size: 1.5em;
	font-style: bold;
}

.copyright{
	font-size: 0.9em;
}

